dofiles/*
!dofiles/.just_some_example_files_delete_if_you_want.lua
!dofiles/dont_run_this_one_without_saving_your_game.lua
!dofiles/give_you_godmode.lua
!dofiles/romance_mod.lua
!dofiles/set_time_to_noon.lua
!dofiles/suicide.lua
!dofiles/to-the-moon.lua
cet_mod_manager.log
config.json
db.sqlite3
